R1_Blue_Atlas RCDATA "Resources\\Full Blue Atlas.bmp"
R1_Cyan_Atlas RCDATA "Resources\\Full Cyan Atlas.bmp"
R1_Green_Atlas RCDATA "Resources\\Full Green Atlas.bmp"
R1_Magenta_Atlas RCDATA "Resources\\Full Magenta Atlas.bmp"
R1_Orange_Atlas RCDATA "Resources\\Full Orange Atlas.bmp"
R1_Red_Atlas RCDATA "Resources\\Full Red Atlas.bmp"
R1_Blue_Map_Atlas RCDATA "Resources\\Map Blue Atlas.bmp"
R1_Cyan_Map_Atlas RCDATA "Resources\\Map Cyan Atlas.bmp"
R1_Green_Map_Atlas RCDATA "Resources\\Map Green Atlas.bmp"
R1_Magenta_Map_Atlas RCDATA "Resources\\Map Magenta Atlas.bmp"
R1_Orange_Map_Atlas RCDATA "Resources\\Map Orange Atlas.bmp"
R1_Red_Map_Atlas RCDATA "Resources\\Map Red Atlas.bmp"
HandFlat CURSOR "HANDFLAT.CUR"
R2_Blue_Map_Atlas RCDATA "Resources\\Repton 2 Map Blue Atlas.bmp"
R2_Cyan_Map_Atlas RCDATA "Resources\\Repton 2 Map Cyan Atlas.bmp"
R2_Green_Map_Atlas RCDATA "Resources\\Repton 2 Map Green Atlas.bmp"
R2_Magenta_Map_Atlas RCDATA "Resources\\Repton 2 Map Magenta Atlas.bmp"
R2_Orange_Map_Atlas RCDATA "Resources\\Repton 2 Map Orange Atlas.bmp"
R2_Red_Map_Atlas RCDATA "Resources\\Repton 2 Map Red Atlas.bmp"
R2_Blue_Atlas RCDATA "Resources\\Repton 2 Full Blue Atlas.bmp"
R2_Cyan_Atlas RCDATA "Resources\\Repton 2 Full Cyan Atlas.bmp"
R2_Green_Atlas RCDATA "Resources\\Repton 2 Full Green Atlas.bmp"
R2_Magenta_Atlas RCDATA "Resources\\Repton 2 Full Magenta Atlas.bmp"
R2_Orange_Atlas RCDATA "Resources\\Repton 2 Full Orange Atlas.bmp"
R2_Red_Atlas RCDATA "Resources\\Repton 2 Full Red Atlas.bmp"
Diamonds RCDATA "Resources\\ReptonDiamonds.bmp"
